*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to right top, #272727, #272431, #28213a, #2a1c43, #2d164a);
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body{
    background-color: rgb(34, 34, 34);
    background-size: 100%;
}
main{
    margin: 20px;
    color: white;
}
.encabezado{
    text-align: center;
}
.boton{
    box-shadow: #0000002f 10px 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 5px;
}
.boton:hover{
    scale: 1.1;
    background-color: #C40500;
    color: white;
}
footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
footer ul li{
    margin: 10px;
    list-style: none;
}
.navbar nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}
.navbar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.carrito-item {
    margin-top: 4px;
    margin-bottom: 4px;
}
.servicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
#total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
}


