*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to right top, #272727, #272431, #28213a, #2a1c43, #2d164a);
    color: white;
}
header h1 {
    margin: 20px;
}
body{
    background-color: rgb(34, 34, 34);
    background-size: 100%;
}
main{
    margin: 20px;
    color: white;
}

section li {
    list-style: none;
}
.disenoWeb {
    padding: 10px;
    width: 30%;
    border-style: none;
    border-radius: 20px;
    box-shadow: #0000002f 10px 10px 10px;
}
.boton{
    box-shadow: #0000002f 10px 10px 10px;
}